.item-details {
  display: flex;
  justify-content: center;
}

.item-content {
  text-align: left;
}

.item-content h1 {
  margin: 0 0 10px;
}

.item-icon {
  margin-right: 10px;
  max-width: 100px;
  height: auto;
}

.item-details {
  margin-bottom: 10px;
}
